:root {
  --blue-soft: #8ecae6;
  --blue: #219ebc;
  --violet: #9381ff;
  --soft-violet: #b8b8ff;
  --white: #f8f7ff;
  --soft-orange: #ffeedd;
  --orange: #ffd8be;
  --red: #ef476f;
  --green: #06d6a0;
  --yellow: #ffd60a;
  --black: #000000;
  --black-soft: #333333;
}
